<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Your name">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Your name professional website">
        <title>Your name</title>
    </head>
    <body>
        <header><h1>Benedict Nematadzira</h1></header>

        <nav> 
            <a href="index.html">Home</a> 
            <a href="cv.html">CV</a> 
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a> 
        </nav>

        <h2 attribute="main">Contact Me</h2>

       

        <p id ="intro" attribute="main">Contact Method Description</p>
        
        <form action="/contact.php">
            <label for="name">Your Name (required)</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Your Email</label><br>
            <input type="email" id="email" name="email"><br><br>
            <label for="comment">Your Comment</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br><br>
            <input type="submit" value="SEND">
        </form> 

        <h3>Contact Methods</h3>
        <p>Email: benedictnema@gmail.com</p>
        <p>Phone: (908) 873-2937</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/benedict-nematadzira-99b5a1271">benedict-nematadzira-99b5a1271</a></p>
        


        <footer>©2025 designed and coded by Benedict Nematadzira</footer>

    </body>
    <nav>

    </nav>
</html>
