<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Your name">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Your name professional website">
        <title>Your name</title>
    </head>
    <body>
        <header><h1>Benedict Nematadzira</h1></header>

        <nav  style="color:blue; background:lightblue"> 
            <a href="index.html">Home</a> 
            <a href="views/cv.html">CV</a> 
            <a href="views/contact.html">Contact me</a> 
            <a href="views/fun.html.asp">For fun</a> 
        </nav>

        <h2 attribute="main">Things I like to do</h2>


        <ul>

            <li>Activity 1</li>
        
            <li>Activity 2</li>
        
            <li>Activity 3</li>

            <li>Activity 4</li>

            <li>Acitivity 5</li>
        
        </ul>

        <footer>©2025 designed and coded by Benedict Nematadzira</footer>

    </body>
    <nav>

    </nav>
</html>
