<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Your name">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Your name professional website">
        <title>Your name</title>
    </head>
    <body>
        <header><h1>Benedict Nematadzira</h1></header>

        <nav  style="color:blue; background:lightblue"> 
            <a href="../index.html">Home</a> 
            <a href="cv.html">CV</a> 
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a> 
        </nav>

        <h2 attribute="main">Contact Me</h2>

       

        <p id ="intro" attribute="main">Contact Method Description</p>
        
        <<form action="/contact.php" method="post" style="display: flex; gap: 10px; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 200px;">
              <label for="name">Your Name (required)</label><br>
              <input type="text" id="name" name="name" required style="width: 90%;">
            </div>
            
            <div style="flex: 1; min-width: 200px;">
              <label for="email">Your Email</label><br>
              <input type="email" id="email" name="email" style="width: 90%;">
            </div>
            
            <div class="form-group">
                <label for="comment">Your Comment</label><br>
                <textarea id="comment" name="comment" rows="5" cols="30"></textarea>
            </div>
            
            <div style="width: 100%; margin-top: 10px;">
              <input type="submit" value="SEND">
            </div>
          </form> 

          <h3>Contact Method Description</h3>
          <p>Email</p>
          <p>Phone</p>
          <p>LinkedIn</p>
        


        <footer>©2025 designed and coded by Benedict Nematadzira</footer>

    </body>
    <nav>

    </nav>
</html>
