<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Your name">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Your name professional website">
        <title>Your name</title>
    </head>
    <body>
        <header><h1>Benedict Nematadzira</h1></header>

        <nav  style="color:blue; background:lightblue"> 
            <a href="../index.html">Home</a> 
            <a href="cv.html">CV</a> 
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a> 
        </nav>

        <h2 attribute="main">Contact Me</h2>

       

        <p id ="intro" attribute="main">Contact Method Description</p>
        
        <form action="/contact.php">
            <label for="fname">Your Name (required)</label><br>
            <input type="text" id="nname" name="nname" required><br>
            <label for="lname">Your Email</label><br>
            <input type="text" id="ename" name="ename"><br><br>
            <label for="fname">Your Comment</label><br>
            <input type="text" id="cname" name="cname"><br><br>
            <input type="send" value="SEND">
          </form> 

          <h3>Contact Method Description</h3>
          <p>Email</p>
          <p>Phone</p>
          <p>LinkedIn</p>
        


        <footer>©2025 designed and coded by Benedict Nematadzira</footer>

    </body>
    <nav>

    </nav>
</html>
