<!DOCTYPE html>
<html>
    
    <head>
        <meta name="author" content="Benedict Nematadzira">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Benedict Nematadzira professional website">
        <link rel="stylesheet" href="../static/style.css">
        <script defer src="../static/script.js"></script>
        <title>Contact Me</title>

    </head>
    <body onload="addYear()">
        <header><h1 id="webname">Benedict Nematadzira</h1></header>

        <nav> 
            <a href="../index.html">Home</a> 
            <a href="cv.html">CV</a> 
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a> 
        </nav>

        <h2 attribute="main">Contact Me</h2>

      
        
        <form id="contactForm">
          <label for="name">Name(required)</label>
          <input type="text" id="name" name="name" required>
          <span id="nameError" class="error"></span>
  
          <label for="email">Email(required)</label>
          <input type="email" id="email" name="email" required>
          <span id="emailError" class="error"></span>
  
          <label for="message">Message(required)</label>
          <textarea id="message" name="message" required></textarea>
          <span id="messageError" class="error"></span>
  
          <button type="submit">Submit</button>
      </form>


          <table class="contact-table">
            <tr>
              <th>Contact Method</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>Email</td>
              <td>bnematad@andrew.cmu.edu</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>873-283-2452</td>
            </tr>
            <tr>
              <td>LinkedIn</td>
              <td>benedict-nematadzira</td>
            </tr>
          </table>
        


          <footer>
            <p id="copyYear"></p>
            <p>©Designed and coded by Benedict Nematadzira</p>
        </footer>

    </body>
    <nav>

    </nav>
</html>
