<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Benedict Nematadzira">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Benedict Nematadzira professional website">
        <link rel="stylesheet" href="../static/style.css">
        <title>Your name</title>
    </head>
    <body>
        <header><h1 id="webname">Benedict Nematadzira</h1></header>

        <nav> 
            <a href="../index.html">Home</a> 
            <a href="cv.html">CV</a> 
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a> 
        </nav>

        <h2 attribute="main">Curriculum Vitae</h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>Carnegie Mellon University</td>
                <td>Westfield High School</td>
              </tr>
              <tr>
                <td>Information Systems Major</td>
                <td>High School Diploma</td>
              </tr>
              <tr>
                <td>Carnegie Mellon University</td>
                <td>Westfield High School</td>
              </tr>
              <tr>
                <td>Information Systems Major</td>
                <td>High School Diploma</td>
              </tr>
        </table>

        <p><a href="https://docs.google.com/document/d/1O1dTnD8LmYQDiA5Jp2vDISkAEG8Y5kqjvXdhJvFgTDk/edit?usp=sharing" target="_blank">My resume (pdf)</a></p>   


        <footer>©2025 designed and coded by Benedict Nematadzira</footer>

    </body>

</html>
