<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Benedict Nematadzira">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Benedict Nematadzira professional website">
        <link rel="stylesheet" href="../static/style.css">
        <script defer src="../static/script.js"></script>
        <title>Your name</title>
    </head>
    <body>
        <header><h1 id="webname">Benedict Nematadzira</h1></header>

        <nav> 
            <a href="../index.html">Home</a> 
            <a href="cv.html">CV</a> 
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a> 
        </nav>

        <h2 attribute="main">Things I like to do</h2>


        <ul>

            <li>Coding</li>
        
            <li>Reading</li>
        
            <li>Fortnite</li>

            <li>Soccer</li>

            <li>Cooking</li>
        
        </ul>

        <footer>©2025 designed and coded by Benedict Nematadzira</footer>

    </body>
    <nav>

    </nav>
</html>
