@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

  * {
    color: black; 
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;  
    font-style: normal; 
    padding: 5px; 
  }
  
  
  .roboto-custom {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Medium weight */
    font-style: normal;
  }
  
  #webname {
    background-color: #92ad70;
    color: white;
}
nav a {
  text-decoration: none; 
  color: #92ad70; 
  margin-right: 15px;
}

th {
  padding: 12px; 
  background-color: #355c05; 
  color: #b3fc5a; 
  width: fit-content;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

form {
  text-align: center; 
  display: block;
}

form * {
  margin: auto;
  display: block;
}

input[type = "submit"] {
  background-color: #92ad70; 
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}

#funList {
  display: none;
}

#shortBio, #longBio {
  margin: 10px 0;
}


.error {
   color: red;
   font-size: 0.9em;
   margin-top: 5px;
   display: block;
}

#shortBio, #longBio {
  margin: 10px 0;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #92ad70;
  color: white;
  border: none;
  cursor:pointer;
}

button:hover {
  background-color: #7a9c5c;
}
