* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

header {
    color: white;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color:#92ad70;
}

.nav-links a.active {
    color: #007BFF;
    font-weight: bold;
}

.nav-links a:hover {
    color: #0056b3;
}

th {
    padding: 12px;
    background-color: darkgray;
    color: white;
    width: fit-content;
 }
 
 table tr:nth-child(even) {
    background-color: lightgray;
 }
 
form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#FavList {
    /* display: none; */
}
 #SeeMoreBTN{
    background-color: lightgrey;
    border: 0px;
    border-radius: 16px;
    font-size:large;
 }

 #shortIntro {
    display: block;
 }
 
 #readLess, #longIntro {
    display: none;
 }
 
 #readLess, #readMore {
    font-style: italic;
    background-color: lightgrey;
 }
 
 #ValidateMsg {
    width: max-content;
    margin: auto;
}

.funIMG {
    border-radius: 100%;
}

.container {
    border-radius: 10%;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item1, .item2, .item3, .item4 {
    flex: 1 1 45%;
    margin: 10px;
}

